<!-- router-outlet -->
<div style="width: 100%; height: 100%; padding: 0; display: flex; flex-direction: column;">
    <mat-toolbar sytel="flex-grow: 0;">
        <span class="title_oneidentiy"></span>
        <span id="title">{{ title }}</span>
    </mat-toolbar>
    <div class="main_container">
        <mat-card class="main_card">
            <mat-card-title>Workspace</mat-card-title>
            <mat-card-subtitle>Select an image and grayscale it...</mat-card-subtitle>
            <mat-card-content>
                <form [formGroup]="fileFormGroup" >
                    <button id="btn_browse" mat-stroked-button color="accent"
                            (click)="fileInput.click()" 
                            >
                        <mat-icon>image_search</mat-icon>
                        <span style="margin-left: 1em;">Browse file...</span>
                        <input type="file" hidden #fileInput formControlName="fileInput"
                        (change)="fileBrowseHandler($event.target.files)">
                    </button>
                    <button id="btn_clear" mat-raised-button color="default" *ngIf="showImage" (click)="clear()" style="margin-left: 2em;">
                        <mat-icon>clear</mat-icon>
                    </button>
                </form>
            </mat-card-content>
            <mat-card-content *ngIf="showImage">
                <p>You selected an image called: "{{ fileName }}".</p>
                <div class="image_container">
                    <img #imgUploaded [src]="imgURL" alt="The source image" 
                        (error)="onImgLoadingError($event)" 
                        (load)="grayscale()"
                    />
                </div>
                <p>The grayscaled image:</p>
                <div class="image_container">
                    <canvas #canvasUploaded></canvas>
                </div>
            </mat-card-content>
            <mat-card-content *ngIf="showImage">    
                <button id="btn_download" mat-raised-button color="primary" (click)="download()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
